# Xcode build artifacts
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.pbxuser

# CocoaPods / SPM
Pods/
.build/
*.resolved

# Secrets
KidsTV/Secrets.swift

# macOS
.DS_Store

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
